.header {
    max-width: 10000px;
    position: relative;
    margin: auto;
}

.header img {
    width: 100%;
    height: auto;
}

.header h1{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 75px;
    font-weight: 200;
    letter-spacing: 3px;
}

.quotes{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.quotes h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    margin-top: 10px;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 0 20px;
}

header {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#planner {
    font-family: 'Courier New', Courier, monospace;

}

form input, 
form button {
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.3rem;
    border: none;
    background: rgb(248, 248, 248);
    border-radius: 2rem;
}

form button {
    color: rgb(166, 199, 179);
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}

form button:hover {
    color: white;
    background: rgb(143, 168, 138);
}

.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.9rem;
    background: white;
    color: black;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: rgb(60, 92, 70);
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: rgb(155, 67, 67);
}

.todo-item {
    padding: 0rem 0.4rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select {
    color:rgb(0, 0, 0);
    width: 9rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background:rgb(146, 184, 146);
    top: 0;
    right: 0;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select::hover::after {
    background: white;
    color: rgb(81, 128, 85);
}

.column1 {
    float: left;
    width: 20.33%;
    padding: 10px;
    height: 300px;
}

.column2 {
    float: left;
    width: 38.33%;
    padding: 10px;
    height: 500px;
}

.column3 {
    float: left;
    width: 18.33%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#study {
    background-color: rgb(243, 218, 222);
    font-family: 'Courier New', Courier, monospace;
} 

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

a:hover {
    color: lightpink;
}

#to do {
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #c4bfbf;
    padding: 8px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
th {
    background-color: #f2f2f2;
}

#schedule {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: float;
    background-color: azure;
}

#time {
    background-color: rgb(241, 204, 214);
}

#table_schedule {
    background-color: rgb(255, 255, 255);
}

#table_time {
    background-color: pink;
}

.transparent-input {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc; 
    padding: 10px;
    font-size: 16px;
    color: #000; 
}